In [7]:
import pandas as pd
import warnings
import xlrd
import xlwt
import glob
from datetime import datetime
from datetime import timedelta 
import os
from pandas import ExcelWriter
glob.glob("*.xlsx")

warnings.filterwarnings('ignore')

In [13]:
for f in glob.glob("Raw/*.xlsx"):
    xls = pd.ExcelFile(f)
    df1 = xls.parse(sheet_name=0)
   
    df1['Total_Bud_Apr'] = df1['Total\nBud']/12
    print(df1.head())
    """
    writer = ExcelWriter('Clean/Monthly_'+f[4:])
    df1.to_excel(writer,sheet_name='Budget_Monthly',index=False)
    writer.save()    
    """

              Particulars  Total\nBud  Total\nTar  Total\nNew Tar  \
0              Staff Cost  374.579015  320.452787      285.275734
1  Staff Welfare Expenses   15.808860   13.529742       12.024913
2   Manpower Supply Costs   56.350563   48.209601       42.794592
3            Labour costs   22.409089   19.185493       17.025195
4                   Power   15.057513   12.891457       11.439872

   Total Project\nBud  Total Project\nTar  Total Project\nNew Tar  \
0          335.179015          286.962787              254.650613
1           14.998860           12.841242               11.395310
2           55.730563           47.713601               42.341022
3           22.409089           19.185493               17.025195
4           15.057513           12.891457               11.439872

   Total Non Project\nBud  Total Non Project\nTar  Total Non Project\nNew Tar  \
0                   39.40                 33.4900                   30.625121
1                    0.81                  0.6885                    0.629603
2                    0.62                  0.4960                    0.453570
3                    0.00                  0.0000                    0.000000
4                    0.00                  0.0000                    0.000000

   Total M&M Project\nBud  Total M&M Project \nTar  \
0              100.072232                85.676624
1                6.909678                 5.915706
2               15.235234                13.043613
3                0.092605                 0.079284
4                2.040425                 1.746906

   Total M&M Project\nNew Tar  Total BMH Project\nBud  Total BMH Project\nTar  \
0                   76.029387               57.022841               48.819982
1                    5.249594                3.405923                2.915974
2                   11.574894                6.963328                5.961638
3                    0.070356                0.108651                0.093021
4                    1.550203                1.020837                0.873987

   Total BMH Project\nNew Tar  Total MENA Project\nBud  \
0                   43.322824                36.305793
1                    2.587634                 1.525833
2                    5.290354                10.177476
3                    0.082547                 0.075103
4                    0.775576                 2.503516

   Total MENA Project\nTar  Total MENA Project\nNew Tar  Total_Bud_Apr
0                31.083126                    27.583148      31.214918
1                 1.306339                     1.159244       1.317405
2                 8.713424                     7.732288       4.695880
3                 0.064299                     0.057059       1.867424
4                 2.143380                     1.902034       1.254793

In [11]:
df1.columns

Index(['Particulars', 'Total\nBud', 'Total\nTar', 'Total\nNew Tar',
       'Total Project\nBud', 'Total Project\nTar', 'Total Project\nNew Tar',
       'Total Non Project\nBud', 'Total Non Project\nTar',
       'Total Non Project\nNew Tar', 'Total M&M Project\nBud',
       'Total M&M Project \nTar', 'Total M&M Project\nNew Tar',
       'Total BMH Project\nBud', 'Total BMH Project\nTar',
       'Total BMH Project\nNew Tar', 'Total MENA Project\nBud',
       'Total MENA Project\nTar', 'Total MENA Project\nNew Tar'],
      dtype='object')